/* Body */
body {
  font-family: "Roboto", sans-serif;
  color: #d0d0e0;
  background-color: #1c1c1f;
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Main Page Container */
#full-page {
  display: flex;
  max-width: 800px;
}

/* Overview Section Sidebar */
#overview {
  position: fixed;
  width: 200px; /* Sidebar width */
  height: 100vh; /* Full height of the viewport */
}

#overview-details svg {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

#main-content {
  margin-left: 240px; /* Same as the sidebar width */
  padding: 20px;
}

/* Floating Section */
section {
  padding: 20px;
  background-color: #222228;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Hero Section */
#hero {
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

h1 {
  text-transform: uppercase;
  font-family: "Lexend Giga", serif;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 2px;
}

h2 {
  text-transform: uppercase;
  font-family: "Lexend Giga", sans-serif;
  font-size: 18px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* Talks & Classes Section */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  border: 10px solid #1c1c1f;
  border-radius: 40px;
  margin: 10px;
}

/* Contact Button */
.cta-button {
  background-color: #0077b5;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 25px;
  margin: 20px 0px;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #005c8b;
}
